/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*==== variable css ====*/
:root {
--header-height: 3.5rem;

/*==== Colors ====*/
/* Colors mode HSL (hue,saturation,lightness */
--first-color :hsl(120, 50%, 24%);
--black-color :hsl(128, 24%, 7%);
--white-color :hsl(104, 88%, 90%); 
--text-color :hsl(220, 8%, 28%);
--body-color :hsl(102, 80%, 90%);
--shadow-img :drop-shadow (0 12px 22px hsla(0, 0%, 0%, .2));

/*==== Font & Typography */
/* .5 rem = 8px | 1 rem = 16px */
--body-font: "Monsterrat Alternates", sans-serif;
--second-font: "Unbounded", sans-serif;
--biggest-font-size: 3rem;
--bigger-font-size: 2.5rem;
--big-font-size: 2rem;
--h1-font-size: 1.5rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1rem;
--normal-font-size: .938rem;
--small-font-size: .813rem;

/*==== Font Weight */
--font-regular: 400;
--font-semi-bold: 600;
--font-bold: 700;

/*==== z tooltip ====*/
--z-index: 10;
--z-fixed: 100;
}

/*==== Responsive typhography ====*/
@media screen and (min-width: 1150px){
 :root {
    --biggest-font-size: 6rem;
    --bigger-font-size: 4.5rem;
    --big-font-size: 3.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    }
}

/*==== BASE ====*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body,input,button{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
body {
    background-color: var(--body-color);
    color: var(--black-color);
}

input,button {
    border: none;
    outline: none;
}
h1,h2,h3,h4 {
   color: var(--title-color);
   font-weight: var(--font-bold);
   font-family: var(--second-font); 
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.nav_logo {
    display: block;
    width: 80px;
    margin: 0;
    padding: 0;
}
/*==== reusable css classes ====*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}
.grid {
    display: grid;
    gap: 1.5rem;
}
.section {
    padding-block: 5rem 1rem;
}
.section__title, .section__subtitle {
    text-align: center;
    font-family: var(--second-font);
}
.section__title {
    font-size: var(--big-font-size);
    margin-bottom: 1rem;
}
.section__subtitle {
    display: block;
    font-size: var(--h2-font-size);
    margin-bottom: .25rem;
}
.main {
    overflow: hidden;
}

/*==== Header & Nav ====*/
.header {
    position: fixed;
    width:100%;
    top:0;
    left: 0;
    background-color: var(--first-color);
    z-index: var(--z-fixed);
    transition: box-shadow .4s;
}
nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
}

.nav_logo {
    display : inline-flex;
    align-items: center;
    column-gap: .5rem;
}
.nav_logo img {
    width: 2.5rem;
}
.nav_logo span {
    color: var(--black-color);
    font-weight: var(--font-semi-bold);
}
.nav_close , .nav_toggle {
    display: inline-flex;
    font-size: 1 rem;
    cursor: pointer;
}
/* ==== Navigation for mobile devices ====*/
@media screen and (max-width: 1150px){
    .nav_menu{
        position:fixed;
        top  : 0;
        right: -100;
        background-color: var(--first-color);
        width: 60%;
        height: 100%;
        padding: 6rem 3.5rem 0;
        box-shadow: -4px 0 16px hsla(0, 0%, 0%, .1);
        transition: right .4s;
    }
    }
.nav_list{
    display : flex;
    flex-direction: column;
    row-gap: 3.5rem;
}
.nav_link {
    color: var(--black-color);
    font-family: var(--second-font);
    transition: color .4s;
}
.nav_link:hover {
    color:var(--white-color);
}
.nav_close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}
.nav_close:hover{
    color: var(--white-color);
}
}
